@font-face {
  font-family: 'IRANSans Black';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/dana-medium.eot');
}

.page-title {
  direction: rtl;
  display: block !important;
  text-align: center;
  font-family: 'dana';
}

.page-title h1 {
  font-family: 'dana';
}

.form-container {
  width: 500px;
  margin: auto;
}

.rtl-form-field {
  direction: rtl;
  font-family: IRANSans !important;
}

.rtl-form-field * {
  text-align: right !important;
}

.rtl-form-field input {
  font-family: IRANSans !important;
}

.rtl-form-field textarea {
  font-family: IRANSans !important;
}

.rtl-form-field button {
  font-family: IRANSans !important;
}

.form-field {
  direction: rtl;
  font-family: IRANSans !important;
}

.form-field input {
  direction: ltr;
  font-family: IRANSans !important;
}

.form-field div.header {
  font-family: IRANSans !important;
}

.form-field button {
  font-family: IRANSans !important;
}

.rtl-h2 {
  direction: rtl;
  font-family: 'dana';
}

.rtl-p {
  direction: rtl;
  font-family: IRANSans;
}

.rtl-b {
  direction: rtl;
  font-family: 'IRANSans Black';
}

.rtl-table {
  font-family: IRANSans;
}

.rtl-button {
  direction: rtl;
  font-family: IRANSans !important;
}

.rtl-message {
  direction: rtl;
  font-family: IRANSans !important;
}

.rtl-message * {
  direction: rtl;
  font-family: IRANSans !important;
}

.rtl-form-label {
  direction: rtl !important;
  font-family: IRANSans !important;
  float: right;
}

.ui.message .header {
  font-family: 'IRANSans Black' !important;
}

.rtl-table-admin {
  font-family: IRANSans;
  direction: rtl;
}

.rtl-table-admin * {
  font-family: IRANSans;
  text-align: right;
}
